---
import magnolia from '@/lib/magnolia'
import { getLocalePath } from '@/lib/utils'

interface Feature {
  name: string
  title: string
}

const currentLocale = Astro.currentLocale!

const features: Feature[] = await magnolia.get('/features/@nodes', {
  lang: currentLocale
})
---

<nav class="mb-26 flex flex-wrap justify-center gap-9">
  {
    features.map(({ name, title }) => (
      <a
        class:list={[
          'group relative text-xl/tight text-neutral-400 uppercase',
          'transition-colors duration-75 hover:text-orange-600'
        ]}
        href={getLocalePath(currentLocale, `platform/${name}`)}
      >
        {title}
        <span class="absolute top-full inset-x-0 w-3/4 mx-auto pt-1.5 flex">
          <span class="h-0.5 w-full group-hover:bg-orange-600" />
        </span>
      </a>
    ))
  }
</nav>
