---
import { getLocalePath } from '@/lib/utils'
import IconMenu from '@/assets/icons/menu.svg'
import IconUserCircle from '@/assets/icons/user-circle.svg'
import Logo from '@/assets/logo.svg'

interface Props {
  class?: string | boolean
}

const currentLocale = Astro.currentLocale!
const { t } = Astro.locals
---

<header
  class:list={[
    Astro.props.class,
    'w-full my-8 px-5 flex items-center justify-between sm:px-10 lg:px-13',
    'xl:my-11'
  ]}
>
  <a href={getLocalePath(currentLocale)} aria-label="B-FY">
    <Logo class="w-14.5 text-orange-600 xl:w-19.5" />
  </a>
  <button class="xl:hidden" popovertarget="menu">
    <IconMenu class="w-6 text-orange-600" />
  </button>
  <section
    class:list={[
      'h-dvh w-64 py-6 px-5 flex-col justify-between gap-15 bg-white text-xl',
      'text-black open:flex backdrop:bg-black/10 xl:contents'
    ]}
    popover
    id="menu"
  >
    <nav>
      <ul class="grid gap-4 xl:flex xl:gap-9">
        <slot />
      </ul>
    </nav>
    <div class="flex flex-col items-start gap-4 xl:flex-row xl:gap-5">
      <a
        class:list={[
          'py-2.5 px-5 rounded bg-orange-600 text-white transition-colors',
          'hover:bg-red-800'
        ]}
        href={getLocalePath(currentLocale, 'contact')}
      >
        {t['request_demo']}
      </a>
      <a
        class:list={[
          'py-2.5 px-5 rounded ring ring-inset text-orange-600',
          'transition-colors hover:text-red-800'
        ]}
        href={getLocalePath(currentLocale, 'contact')}
      >
        {t['contact_us']}
      </a>
      <IconUserCircle class="w-10 text-orange-600" />
    </div>
  </section>
</header>

<script>
  matchMedia('(width >= 1280px)').addEventListener('change', ({ matches }) => {
    if (matches) document.getElementById('menu')?.hidePopover()
  })
</script>
